$color-primary: #007f62;
$color-secondary: #00a680;
$color-tertiary: #f8f8f8;
$color-fourthary: #ffffff;
$color-Fifth: #333333;
$color-sixth: #bdbdbd;
$color-seventh: #ff7043;
%flex {
    display: flex;
    align-items: center;
}

%word-justro {
    font-size: 20px;
    font-family: shabnam-bold;
    color: $color-primary;
}

%justro {
    @extend %flex;
    justify-content: center;
    position: absolute;
    .word-justro {
        @extend %word-justro;
    }
    .justro-picture {
        font-size: 60px;
        color: $color-primary;
    }
}

@font-face {
    font-family: "shabnam-bold";
    src: url("../fonts/Shabnam-Bold-FD.ttf");
}

@font-face {
    font-family: "shabnam-light";
    src: url("../fonts/Shabnam-Light-FD.ttf");
}

@font-face {
    font-family: "shabnam-medium";
    src: url("../fonts/Shabnam-Medium-FD.ttf");
}

@font-face {
    font-family: "shabnam-thin";
    src: url("../fonts/Shabnam-Thin-FD.ttf");
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
    text-align: right;
    font-family: shabnam-light;
}

#bg {
    @extend %flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#header {
    height: 30px;
    color: $color-tertiary;
    padding: 0;
    background-color: $color-primary;
    span {
        font-size: 16px;
        margin-right: 0.4rem;
    }
}

#nav {
    height: 80px;
    box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
    background-color: $color-fourthary;
    span {
        @extend %word-justro;
    }
    .nav-justro {
        @extend %flex;
    }
    .nav-search {
        @extend %flex;
    }
}

#logo_Bg {
    overflow: hidden;
    margin-left: 210px;
    img {
        width: 400px;
    }
}

@media (min-width:360px) {
    #logo_Bg {
        margin-left: 260px;
    }
}

@media (min-width:576px) {
    #logo_Bg {
        margin-left: 260px;
    }
}

@media (min-width:992px) {
    #navBar {
        position: relative;
        right: 130px;
    }
    #logo_Bg {
        position: relative;
        right: 25px;
        img {
            width: 406px;
            height: 219px;
        }
    }
}

@media (min-width:1100px) {
    #navBar {
        position: relative;
        right: 50px;
    }
    #logo_Bg {
        margin-left: 260px;
    }
}

@media (min-width:1200px) {
    #navBar {
        position: relative;
        right: 0;
    }
}

#justro {
    @extend %justro;
}

@media (min-width:360px) {
    #justro {
        bottom: 21px !important;
        right: 165px !important;
        .word-justro {
            right: 80px !important;
            bottom: 40px !important;
        }
    }
}

@media (min-width:406px) {
    #justro {
        bottom: 45px !important;
        right: 222px !important;
        .word-justro {
            right: 80px !important;
            bottom: 40px !important;
        }
    }
}

@media (min-width:576px) {
    #justro {
        bottom: 72px !important;
        right: -18px !important;
        .word-justro {
            right: 24px !important;
            top: 6px !important;
        }
    }
}

@media (min-width:650px) {
    #justro {
        bottom: 72px !important;
        right: -72px !important;
        .word-justro {
            right: 24px !important;
            top: 6px !important;
        }
    }
}

@media (min-width:715px) {
    #justro {
        bottom: 80px !important;
        right: -100px !important;
        .word-justro {
            right: 24px !important;
            top: 6px !important;
        }
    }
}

@media (min-width:768px) {
    #justro {
        bottom: 70px !important;
        left: 110px !important;
    }
}

@media (min-width:830px) {
    #justro {
        left: 0 !important;
        right: -150 !important;
        .word-justro {
            right: -52px !important;
            top: 6px !important;
        }
        .justro-picture {
            left: 46px;
        }
    }
}

@media (min-width:930px) {
    #justro {
        left: 0 !important;
        right: -150 !important;
    }
}

#Justro {
    @extend %justro;
}

@media (min-width:992px) {
    #Justro {
        right: -20px;
    }
}

@media (min-width:1100px) {
    #Justro {
        right: 0;
    }
}

#Header {
    display: flex;
    justify-content: space-between;
    z-index: -1;
    position: absolute;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    overflow: hidden;
}

#top {
    align-items: flex-end;
    justify-content: space-between;
    #navBar {
        font-size: 16px;
        font-weight: 300;
        color: $color-Fifth;
    }
    .download {
        @extend %flex;
        justify-content: center;
        font-family: shabnam-light;
        font-size: 18px;
        width: 120px;
        height: 40px;
        border-radius: 20px;
        box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
        background-image: linear-gradient(to top, #e35325, #ff8a65);
        color: $color-fourthary;
    }
}

#word-travel {
    @extend %flex;
    justify-content: flex-start;
    margin-top: 30px;
    .better-know {
        color: $color-primary;
        font-size: 30px;
        font-family: shabnam-bold;
    }
    .line {
        height: 3px;
        width: 70px;
        border-radius: 1.5px;
        background-color: $color-secondary;
        float: right;
    }
    .lorem {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.5;
    }
}

#bg_woman-mobile {
    position: relative;
    left: 20px;
}

@media (min-width:568px) {
    #bg_woman-mobile {
        width: 280px;
    }
}

@media (min-width:768px) {
    #bg_woman-mobile {
        width: 330px;
    }
}

#icon-slider {
    @extend %flex;
    justify-content: center;
    #circle {
        font-size: 12px;
        color: $color-sixth;
    }
    #Round-rectangle {
        color: $color-seventh;
        font-size: 12px;
    }
}

#box {
    background-color: white;
    opacity: 1;
}

#word-Travel {
    width: 500px;
    .better-know {
        color: $color-primary;
        font-size: 30px;
        font-family: shabnam-bold;
    }
    .line {
        height: 3px;
        width: 70px;
        border-radius: 1.5px;
        background-color: $color-secondary;
        float: right;
    }
    .lorem {
        font-size: 14px;
        line-height: 1.5;
        width: 500px;
    }
}

@media (min-width:568px) {
    #word-Tranvel {
        .better-know {
            width: 300px;
        }
    }
}

#Wave {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
    .bg-wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 180px;
        background-image: url("./img/011_bg_wave.svg");
        background-size: cover;
    }
    .bg-wave.wave1 {
        animation: animate 20s linear infinite;
        z-index: 100;
        opacity: 1;
        animation-delay: 0s;
        bottom: 0;
    }
    .bg-wave.wave2 {
        animation: animate2 10s linear infinite;
        z-index: 50;
    }
}

@keyframes animate {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1500px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1000px;
    }
}