.word-travel, #justro, #nav .nav-search, #nav .nav-justro, #bg {
  display: flex;
  align-items: center;
}

#justro .word-justro, #nav span {
  font-size: 24px;
  font-family: shabnam-bold;
  color: #007f62;
}

@font-face {
  font-family: "shabnam-bold";
  src: url("../fonts/Shabnam-Bold-FD.ttf");
}
@font-face {
  font-family: "shabnam-light";
  src: url("../fonts/Shabnam-Light-FD.ttf");
}
@font-face {
  font-family: "shabnam-medium";
  src: url("../fonts/Shabnam-Medium-FD.ttf");
}
@font-face {
  font-family: "shabnam-thin";
  src: url("../fonts/Shabnam-Thin-FD.ttf");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  text-align: right;
  font-family: shabnam-light;
}

#bg {
  flex-direction: column;
  padding: 0;
  margin: 0;
}

#header {
  height: 30px;
  color: #f8f8f8;
  padding: 0;
  background-color: #007f62;
}
#header span {
  font-size: 16px;
  margin-right: 0.4rem;
}

#nav {
  height: 80px;
  box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
  background-color: #ffffff;
}
#logo_Bg {
  overflow: hidden;
  margin-left: 210px;
}
#logo_Bg img {
  width: 400px;
}

@media (min-width: 360px) {
  #logo_Bg {
    margin-left: 260px;
  }
}
@media (min-width: 576px) {
  #logo_Bg {
    margin-left: 260px;
  }
}
@media (min-width: 992px) {
  #logo_Bg img {
    width: 406px;
    height: 219px;
  }
}
#justro {
  justify-content: center;
  position: absolute;
}
#justro .justro-picture {
  font-size: 60px;
  color: #007f62;
}

@media (min-width: 360px) {
  .word-justro {
    margin-left: 20px;
    margin-top: 73px;
  }

  .justro-picture {
    margin-right: 160px;
    margin-top: 65px;
  }
}
@media (min-width: 480px) {
  .word-justro {
    margin-right: 5px;
    margin-top: 79px;
  }

  .justro-picture {
    margin-right: 140px;
    margin-top: 71px;
  }
}
@media (min-width: 576px) {
  .justro-picture {
    margin-right: 20px;
    margin-top: 71px;
  }
}
@media (min-width: 670px) {
  .word-justro {
    margin-left: 50px;
    margin-top: 79px;
  }
}
@media (min-width: 768px) {
  .word-justro {
    margin-left: 139px;
    margin-bottom: 0;
    margin-top: 72px;
    margin-right: 0;
  }
}
@media (min-width: 830px) {
  .justro-picture {
    margin-right: -19px;
  }
}
@media (min-width: 900px) {
  .justro-picture {
    margin-right: -50px;
  }
}
#Header {
  display: flex;
  justify-content: space-between;
  z-index: -1;
  position: absolute;
}

#navBar {
  font-size: 16px;
  font-weight: 300;
  color: #333333;
}

.word-travel {
  flex-direction: column;
  justify-content: start;
}
.word-travel .better-know {
  color: #007f62;
  font-size: 30px;
  font-family: shabnam-bold;
}
.word-travel .line {
  width: 70px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #00a680;
  float: right;
}
.word-travel .lorem {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.woman_view {
  height: 350px;
}

#circle {
  color: gray;
}

#Round-rectangle {
  color: brown;
  border-radius: 5px;
}

/*# sourceMappingURL=main.css.map */
