#footer .footer-mob .Contact, #footer .footer-mob .link-footer .link1-footer ul li, #footer .footer-mob .link-footer .link1-footer ul, #footer .footer-mob .link-footer .link1-footer, #footer .footer-mob .link-footer, #footer .footer-mob .icon-footer .Box-circle .Circle, #footer .footer-mob .icon-footer, #footer .footer-mob, #footer, #Footer .contact, #Footer .Original-link .Original-link1 ul li, #Footer, #end .Email-adress .box-Email, #end .Email-adress, #end .box-Travel, #end .email-adress .box-email, #end .email-adress, #end .select-Travel, #end, #Travel-readiness-web .icon-travel, #Travel-readiness-web, #Travel-readiness .icon-travel, #Travel-readiness, #Download2 .Download-botton .download-end, #Download2 .Download2-icon, #download2 .download-end, #download2, .phone, .box-circle .circle2, #center .icon-center, #icon-slider, #word-travel, #top .download, #nav .nav-search, #nav .nav-justro, #bg, #Justro, #justro {
  display: flex;
  align-items: center;
}

#nav span, #Justro .word-justro, #justro .word-justro {
  font-size: 20px;
  font-family: shabnam-bold;
  color: #007f62;
}

#end .Email-adress .Email-lorem, #end .email-adress .email-lorem, #end .Travel-lorem, #Travel-readiness-web .Travel-lorem, #Travel-readiness .Travel-lorem, #Download2 .method-download, #Download2 .word-number-phone, #download2 .method-download, #download2 .word-number-phone, #word-center .lorem, #word-Travel .lorem, #word-travel .lorem {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5;
}

#Justro, #justro {
  justify-content: center;
  position: absolute;
}
#Justro .justro-picture, #justro .justro-picture {
  font-size: 60px;
  color: #007f62;
}

@font-face {
  font-family: "shabnam-bold";
  src: url("../fonts/Shabnam-Bold-FD.ttf");
}
@font-face {
  font-family: "shabnam-light";
  src: url("../fonts/Shabnam-Light-FD.ttf");
}
@font-face {
  font-family: "shabnam-medium";
  src: url("../fonts/Shabnam-Medium-FD.ttf");
}
@font-face {
  font-family: "shabnam-thin";
  src: url("../fonts/Shabnam-Thin-FD.ttf");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  text-align: right;
  font-family: shabnam-light;
}

#bg {
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#header {
  height: 30px;
  color: #f8f8f8;
  padding: 0;
  background-color: #007f62;
}
#header span {
  font-size: 16px;
  margin-right: 0.4rem;
}

#nav {
  height: 80px;
  box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
  background-color: #ffffff;
}
#logo_Bg {
  overflow: hidden;
  margin-left: 210px;
}
#logo_Bg img {
  width: 400px;
}

@media (min-width: 360px) {
  #logo_Bg {
    margin-left: 260px;
  }
}
@media (min-width: 576px) {
  #logo_Bg {
    margin-left: 260px;
  }
}
@media (min-width: 360px) {
  #justro {
    bottom: 21px !important;
    right: 165px !important;
  }
  #justro .word-justro {
    right: 80px !important;
    bottom: 40px !important;
  }
}
@media (min-width: 406px) {
  #justro {
    bottom: 45px !important;
    right: 222px !important;
  }
  #justro .word-justro {
    right: 80px !important;
    bottom: 40px !important;
  }
}
@media (min-width: 576px) {
  #justro {
    bottom: 72px !important;
    right: -18px !important;
  }
  #justro .word-justro {
    right: 24px !important;
    top: 6px !important;
  }
}
@media (min-width: 650px) {
  #justro {
    bottom: 72px !important;
    right: -72px !important;
  }
  #justro .word-justro {
    right: 24px !important;
    top: 6px !important;
  }
}
@media (min-width: 715px) {
  #justro {
    bottom: 80px !important;
    right: -100px !important;
  }
  #justro .word-justro {
    right: 24px !important;
    top: 6px !important;
  }
}
@media (min-width: 768px) {
  #justro {
    bottom: 70px !important;
    left: 110px !important;
  }
}
@media (min-width: 830px) {
  #justro {
    left: 0 !important;
    right: -150 !important;
  }
  #justro .word-justro {
    right: -52px !important;
    top: 6px !important;
  }
  #justro .justro-picture {
    left: 46px;
  }
}
@media (min-width: 930px) {
  #justro {
    left: 0 !important;
    right: -150 !important;
  }
}
@media (min-width: 992px) {
  #Justro {
    right: -10px;
  }
}
@media (min-width: 1100px) {
  #Justro {
    right: 7px;
  }
}
@media (min-width: 1470px) {
  #Justro {
    right: 29px;
  }
}
@media (min-width: 1640px) {
  #Justro {
    right: 45px;
  }
}
@media (min-width: 1780px) {
  #Justro {
    right: 62px;
  }
}
@media (min-width: 1900px) {
  #Justro {
    right: 62px;
  }
}
#Header {
  display: flex;
  justify-content: space-between;
  z-index: -1;
  position: absolute;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  overflow: hidden;
}

#top {
  align-items: flex-end;
  justify-content: space-between;
}
#top #navBar {
  font-size: 13px;
  font-weight: 300;
  color: #333333;
}
#top .download {
  justify-content: center;
  font-family: shabnam-light;
  font-size: 18px;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
  background-image: linear-gradient(to top, #e35325, #ff8a65);
  color: #ffffff;
}

@media (min-width: 568px) {
  #top #navBar {
    position: relative;
    right: 44px;
  }
}
#word-travel {
  justify-content: flex-start;
  margin-top: 30px;
}
#word-travel .better-know {
  color: #007f62;
  font-size: 25px;
  font-family: shabnam-bold;
}
#word-travel .line {
  height: 3px;
  width: 70px;
  border-radius: 1.5px;
  background-color: #00a680;
  float: right;
}
#bg_woman-mobile {
  position: relative;
  left: 29px;
}

@media (min-width: 568px) {
  #bg_woman-mobile {
    width: 280px;
  }
}
@media (min-width: 768px) {
  #bg_woman-mobile {
    width: 330px;
  }
}
#icon-slider {
  justify-content: center;
}
#icon-slider #circle {
  font-size: 12px;
  color: #bdbdbd;
}
#icon-slider #Round-rectangle {
  color: #ff7043;
  font-size: 12px;
}

#box {
  background-color: white;
  opacity: 1;
}

#word-Travel .better-know {
  color: #007f62;
  font-size: 30px;
  font-family: shabnam-bold;
}
#word-Travel .line {
  height: 3px;
  width: 70px;
  border-radius: 1.5px;
  background-color: #00a680;
  float: right;
}
@media (min-width: 568px) {
  #word-Tranvel .better-know {
    width: 300px;
  }
}
@media (max-width: 620px) {
  #word-Travel .lorem {
    width: 300px;
  }
}
@media (min-width: 992px) {
  #word-Travel .lorem {
    width: 600px;
  }
}
#Wave {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
#Wave .bg-wave {
  background-image: url("./img/bg-wave.png");
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-size: 1500px 200px;
}
#Wave .bg-wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
#Wave .bg-wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

@keyframes animate {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1500px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}
#center .icon-center {
  justify-content: space-around;
  position: relative;
  bottom: 25px;
  overflow-x: scroll;
}

.line2 {
  width: 2px;
  height: 600px;
  background-color: #00a680;
  z-index: -10;
  position: absolute;
}

.box-circle {
  padding: 1px;
  border-radius: 50%;
  background-image: linear-gradient(to top, #00a680, #00f4bd);
}
.box-circle .circle2 {
  justify-content: center;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: white;
}
.box-circle .circle2 span {
  font-size: 30px;
  opacity: 0.9;
  color: #00a680;
}

.phone {
  justify-content: center;
}
.phone .sub-phone {
  position: relative;
}
.phone .sub-phone img {
  position: absolute;
  bottom: 45px;
  left: 28px;
}

#word-center {
  display: flex;
  align-self: center;
  justify-content: center;
  padding-right: 150px;
}
#word-center .better-know {
  color: #007f62;
  font-size: 25px;
  font-family: shabnam-bold;
}
#word-center .lorem {
  width: 300px;
}

@media (min-width: 568px) {
  #word-center {
    padding: 0;
    display: flex;
    align-items: center;
  }
  #word-center .better-know {
    width: 500px;
  }
  #word-center .lorem {
    width: 500px;
  }
}
@media (min-width: 768px) {
  #word-center {
    padding: 0;
    display: flex;
    align-items: center;
  }
  #word-center .better-know {
    width: 600px;
  }
  #word-center .lorem {
    width: 600px;
  }
}
@media (min-width: 992px) {
  #word-center {
    padding-right: 6rem;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 992px) {
  #word-Tranvel .better-know {
    width: 500px;
  }
  #word-Tranvel .lorem {
    width: 500px;
  }
}
@media (min-width: 360px) {
  #word-Tranvel {
    width: 500px;
  }
}
#Wave-center {
  position: relative;
  top: 191px;
  width: 100%;
  height: 180px;
  overflow: hidden;
  top: 210px;
}
#Wave-center .Bg-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background-image: url("./img/bg-wave.png");
  background-size: cover;
}
#Wave-center .Bg-wave.Wave1 {
  animation: animate 20s linear infinite;
  z-index: 100;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
#Wave-center .Bg-wave.Wave2 {
  animation: animate2 10s linear infinite;
  z-index: 50;
}

@keyframes animate {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1500px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}
#download2 {
  width: 330px;
  height: 770px;
  border-radius: 15px;
  box-shadow: 2.5px 4.3px 25px 0 #e5e5e5;
  flex-direction: column;
  justify-content: space-evenly;
}
#download2 .word-aplication {
  font-size: 24px;
  text-align: center;
  color: #007f62;
}
#download2 .word-number-phone {
  text-align: center;
}
#download2 .number-phone {
  width: 290px;
  height: 50px;
  border-radius: 25px;
  border: solid 1px #eeeeee;
  background-color: #fafafa;
}
#download2 ::placeholder {
  color: black;
  display: flex;
  justify-content: center;
}
#download2 .download {
  width: 140px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
  background-image: linear-gradient(to top, #e35325, #ff8a65);
  color: #ffffff;
}
#download2 .method-download {
  text-align: center;
}
#download2 .download-end {
  width: 160px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
  background-image: linear-gradient(to top, #00a680, #00f4bd);
  color: #ffffff;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  font-size: 13px;
  font-family: shabnam-bold;
}
#download2 .download-end span {
  font-size: 13px;
}

#Download2 {
  width: 970px;
  height: 300px;
  border-radius: 30px;
  box-shadow: 2.5px 4.3px 25px 0 #e5e5e5;
  display: flex;
  position: relative;
  bottom: 109px;
  z-index: 100;
}
#Download2 .Download2-icon {
  justify-content: center;
}
#Download2 .side-Download2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#Download2 .word-aplication {
  font-size: 24px;
  text-align: center;
  color: #007f62;
}
#Download2 .word-number-phone {
  text-align: center;
}
#Download2 .number-phone {
  width: 290px;
  height: 50px;
  border-radius: 25px;
  border: solid 1px #eeeeee;
  background-color: #fafafa;
  position: relative;
  left: 42px;
}
#Download2 .download {
  width: 140px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
  background-image: linear-gradient(to top, #e35325, #ff8a65);
  color: #ffffff;
  position: absolute;
  left: 130px;
}
#Download2 .method-download {
  text-align: center;
}
#Download2 .Download-botton {
  position: relative;
}
#Download2 .Download-botton .download-end {
  position: absolute;
  width: 160px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
  background-image: linear-gradient(to top, #00a680, #00f4bd);
  color: #ffffff;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  font-size: 13px;
  font-family: shabnam-bold;
}
#Download2 .Download-botton .download-end span {
  font-size: 16px;
}

@media (min-width: 1200px) {
  #Download2 {
    width: 1100px;
  }
}
#Travel-readiness {
  color: #ffffff;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url("./img/dark_image.jpg");
  height: 350px;
}
#Travel-readiness .Travel {
  font-size: 24px;
  text-align: center;
  z-index: 100;
}
#Travel-readiness .Travel-lorem {
  z-index: 100;
}
#Travel-readiness .icon-travel {
  width: 160px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25), 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
  background-image: linear-gradient(to top, #e35325, #ff8a65);
  z-index: 100;
  color: #ffffff;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-family: shabnam-light !important;
}
#Travel-readiness .icon-travel span {
  font-size: 16px;
}

#Travel-readiness-web {
  color: #ffffff;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url("./img/022_bg_amadegisafar.svg");
  background-repeat: no-repeat;
  background-position: top;
  height: 350px;
  width: 100%;
  background-size: 1920px 350px;
  z-index: 1000;
}
#Travel-readiness-web .amadegisafar {
  position: relative;
  width: 100%;
}
#Travel-readiness-web .amadegisafar .amadegisafar-end {
  background-image: url("./img/023_amadegisafar.jpg");
  position: absolute;
  width: 100%;
  height: 300px;
  opacity: 0.5;
  top: 10px;
  background-size: 1200px 300px;
}
#Travel-readiness-web .Travel {
  font-size: 24px;
  text-align: center;
  z-index: 100;
}
#Travel-readiness-web .Travel-lorem {
  z-index: 100;
}
#Travel-readiness-web .icon-travel {
  width: 160px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25), 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
  background-image: linear-gradient(to top, #e35325, #ff8a65);
  z-index: 100;
  color: #ffffff;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-family: shabnam-light !important;
  position: relative;
  top: 48px;
}
#Travel-readiness-web span {
  font-size: 16px;
}

#end {
  flex-direction: column;
  justify-content: space-between;
}
#end .better-know {
  color: #007f62;
  font-size: 25px;
  font-family: shabnam-bold;
  text-align: center;
}
#end .Travel-lorem {
  text-align: center;
  z-index: 100;
  width: 360px;
}
#end .select-Travel {
  margin: 0 0.1rem;
  justify-content: space-evenly;
}
#end .email-adress {
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 270px;
  background-color: #e1fff8;
}
#end .email-adress .email-lorem {
  text-align: center !important;
  width: 300px;
}
#end .email-adress .box-email {
  flex-direction: column;
  justify-content: space-around;
}
#end .email-adress .box-email .email-word {
  width: 290px;
  height: 50px;
  border-radius: 25px;
  border: solid 1px #eeeeee;
  background-color: #fafafa;
}
#end .email-adress .box-email ::placeholder {
  font-family: shabnam-light;
  font-size: 20px;
}
#end .email-adress .box-email .email-registration {
  width: 140px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
  background-image: linear-gradient(to top, #e35325, #ff8a65);
  color: #ffffff;
}
#end .box-Travel {
  width: 222px;
  height: 40px;
  background-color: #333333;
  color: #f8f8f8;
  opacity: 0.8;
  border-radius: 0 0 10px 10px !important;
  justify-content: center;
  position: relative;
  bottom: 35px;
}
#end img {
  border-radius: 10px;
}

@media (max-width: 992px) {
  #end .select-Travel {
    overflow-x: scroll;
  }
}
#end .Email-adress {
  flex-direction: column;
  justify-content: space-evenly;
}
#end .Email-adress .Email-lorem {
  text-align: center;
  width: 768px;
}
#end .Email-adress .box-Email {
  justify-content: space-around;
  position: relative;
}
#end .Email-adress .box-Email .Email-word {
  width: 290px;
  height: 50px;
  border-radius: 25px;
  border: solid 1px #eeeeee;
  background-color: #fafafa;
  font-family: shabnam-light;
  font-size: 14px;
  position: absolute;
  left: -80px;
}
#end .Email-adress .box-Email .Email-registration {
  width: 140px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
  background-image: linear-gradient(to top, #e35325, #ff8a65);
  color: #ffffff;
  position: absolute;
  right: 32px;
}

#shap-end {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  bottom: 650px;
}
#shap-end .bg-end {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: flex-start;
}

@media (min-width: 992px) {
  #end .box-Travel {
    width: 175px;
    height: 40px;
  }
  #end img {
    width: 175px;
  }
}
#Footer {
  justify-content: space-evenly;
  color: #ffffff;
}
#Footer .Footer-bg {
  width: 100%;
  height: 100%;
}
#Footer .Footer-bg img {
  width: 100%;
  position: absolute;
  bottom: 0;
}
#Footer .Footer-wave {
  position: relative;
}
#Footer .Footer-wave img {
  position: absolute;
  right: 0;
  bottom: 0;
}
#Footer .Original-link {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  list-style-type: none;
}
#Footer .Original-link .Original-link1 ul li {
  justify-content: space-evenly;
}
#Footer .Original-link .Original-link1 ul li span {
  font-size: 8px;
}
#Footer .contact {
  justify-content: space-between;
  z-index: 100;
}
#Footer .contact span {
  color: #ffffff;
  font-size: 16px;
}

@media (min-width: 1450px) {
  .Original-link .Original-link1 ul li {
    padding: 10px;
  }
}
#footer {
  width: 100%;
  height: 650px;
  flex-direction: column;
  justify-content: space-around;
  color: #f8f8f8;
}
#footer .footer-mob {
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url("./img/footer-mobile.jpg");
  background-size: cover;
}
#footer .footer-mob .icon-footer {
  justify-content: space-evenly;
  position: relative;
  bottom: 25px;
  overflow-x: scroll;
  width: 100%;
}
#footer .footer-mob .icon-footer .Box-circle {
  padding: 1px;
  border-radius: 50%;
}
#footer .footer-mob .icon-footer .Box-circle .Circle {
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0px 10px 15px 0 rgba(0, 88, 67, 0.75);
  background-blend-mode: overlay;
  background-image: linear-gradient(to top, #ffffff, #ffffff), linear-gradient(to bottom, #29b6f6, #29b6f6);
}
#footer .footer-mob .icon-footer .Box-circle .Circle span {
  font-size: 60px;
  opacity: 0.9;
  color: #ffffff;
}
#footer .footer-mob .link-footer {
  flex-direction: column;
  justify-content: space-around;
}
#footer .footer-mob .link-footer .link1-footer {
  justify-content: space-around;
  font-size: 25px;
}
#footer .footer-mob .link-footer .link1-footer ul {
  justify-content: space-around;
  list-style: none;
  width: 100%;
}
#footer .footer-mob .link-footer .link1-footer ul li {
  padding: 0 1rem;
  width: 100%;
  justify-content: space-evenly;
}
#footer .footer-mob .link-footer .link1-footer ul li span {
  font-size: 8px;
  padding: 0 0.25rem;
}
#footer .footer-mob .Contact {
  justify-content: space-evenly;
  z-index: 100;
  width: 100%;
}
#footer .footer-mob .Contact span {
  color: #ffffff;
  font-size: 30px;
}

@media (min-width: 768px) {
  #footer .footer-mob .icon-footer {
    position: relative;
    top: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
