$color-primary: #007f62;
$color-secondary: #00a680;
$color-tertiary: #f8f8f8;
$color-fourthary: #ffffff;
$color-Fifth: #333333;
$color-sixth: #bdbdbd;
$color-seventh: #ff7043;
%flex {
    display: flex;
    align-items: center;
}

%word-justro {
    font-size: 20px;
    font-family: shabnam-bold;
    color: $color-primary;
}

%word {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5;
}

%justro {
    @extend %flex;
    justify-content: center;
    position: absolute;
    .word-justro {
        @extend %word-justro;
    }
    .justro-picture {
        font-size: 60px;
        color: $color-primary;
    }
}

@font-face {
    font-family: "shabnam-bold";
    src: url("../fonts/Shabnam-Bold-FD.ttf");
}

@font-face {
    font-family: "shabnam-light";
    src: url("../fonts/Shabnam-Light-FD.ttf");
}

@font-face {
    font-family: "shabnam-medium";
    src: url("../fonts/Shabnam-Medium-FD.ttf");
}

@font-face {
    font-family: "shabnam-thin";
    src: url("../fonts/Shabnam-Thin-FD.ttf");
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
    text-align: right;
    font-family: shabnam-light;
}

#bg {
    @extend %flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#header {
    height: 30px;
    color: $color-tertiary;
    padding: 0;
    background-color: $color-primary;
    span {
        font-size: 16px;
        margin-right: 0.4rem;
    }
}

#nav {
    height: 80px;
    box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
    background-color: $color-fourthary;
    span {
        @extend %word-justro;
    }
    .nav-justro {
        @extend %flex;
    }
    .nav-search {
        @extend %flex;
    }
}

#logo_Bg {
    overflow: hidden;
    margin-left: 210px;
    img {
        width: 400px;
    }
}

@media (min-width:360px) {
    #logo_Bg {
        margin-left: 260px;
    }
}

@media (min-width:576px) {
    #logo_Bg {
        margin-left: 260px;
    }
}

@media (min-width:992px) {
    #navBar {
        position: relative;
        right: 130px;
    }
    #logo_Bg {
        position: relative;
        right: 25px;
        img {
            width: 406px;
            height: 219px;
        }
    }
}

@media (min-width:1100px) {
    #navBar {
        position: relative;
        right: 118px;
    }
    #logo_Bg {
        margin-left: 260px;
    }
}

@media (min-width:1200px) {
    #navBar {
        position: relative;
        right: 104px;
    }
}

#justro {
    @extend %justro;
}

@media (min-width:360px) {
    #justro {
        bottom: 21px !important;
        right: 165px !important;
        .word-justro {
            right: 80px !important;
            bottom: 40px !important;
        }
    }
}

@media (min-width:406px) {
    #justro {
        bottom: 45px !important;
        right: 222px !important;
        .word-justro {
            right: 80px !important;
            bottom: 40px !important;
        }
    }
}

@media (min-width:576px) {
    #justro {
        bottom: 72px !important;
        right: -18px !important;
        .word-justro {
            right: 24px !important;
            top: 6px !important;
        }
    }
}

@media (min-width:650px) {
    #justro {
        bottom: 72px !important;
        right: -72px !important;
        .word-justro {
            right: 24px !important;
            top: 6px !important;
        }
    }
}

@media (min-width:715px) {
    #justro {
        bottom: 80px !important;
        right: -100px !important;
        .word-justro {
            right: 24px !important;
            top: 6px !important;
        }
    }
}

@media (min-width:768px) {
    #justro {
        bottom: 70px !important;
        left: 110px !important;
    }
}

@media (min-width:830px) {
    #justro {
        left: 0 !important;
        right: -150 !important;
        .word-justro {
            right: -52px !important;
            top: 6px !important;
        }
        .justro-picture {
            left: 46px;
        }
    }
}

@media (min-width:930px) {
    #justro {
        left: 0 !important;
        right: -150 !important;
    }
}

#Justro {
    @extend %justro;
}

@media (min-width:992px) {
    #Justro {
        right: -10px;
    }
}

@media (min-width:1100px) {
    #Justro {
        right: 7px;
    }
}

#Header {
    display: flex;
    justify-content: space-between;
    z-index: -1;
    position: absolute;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    overflow: hidden;
}

#top {
    align-items: flex-end;
    justify-content: space-between;
    #navBar {
        font-size: 13px;
        font-weight: 300;
        color: $color-Fifth;
    }
    .download {
        @extend %flex;
        justify-content: center;
        font-family: shabnam-light;
        font-size: 18px;
        width: 120px;
        height: 40px;
        border-radius: 20px;
        box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
        background-image: linear-gradient(to top, #e35325, #ff8a65);
        color: $color-fourthary;
    }
}

#word-travel {
    @extend %flex;
    justify-content: flex-start;
    margin-top: 30px;
    .better-know {
        color: $color-primary;
        font-size: 25px;
        font-family: shabnam-bold;
    }
    .line {
        height: 3px;
        width: 70px;
        border-radius: 1.5px;
        background-color: $color-secondary;
        float: right;
    }
    .lorem {
        @extend %word;
    }
}

#bg_woman-mobile {
    position: relative;
    left: 29px;
}

@media (min-width:568px) {
    #bg_woman-mobile {
        width: 280px;
    }
}

@media (min-width:768px) {
    #bg_woman-mobile {
        width: 330px;
    }
}

#icon-slider {
    @extend %flex;
    justify-content: center;
    #circle {
        font-size: 12px;
        color: $color-sixth;
    }
    #Round-rectangle {
        color: $color-seventh;
        font-size: 12px;
    }
}

#box {
    background-color: white;
    opacity: 1;
}

#word-Travel {
    .better-know {
        color: $color-primary;
        font-size: 30px;
        font-family: shabnam-bold;
    }
    .line {
        height: 3px;
        width: 70px;
        border-radius: 1.5px;
        background-color: $color-secondary;
        float: right;
    }
    .lorem {
        @extend %word;
    }
}

@media (min-width:568px) {
    #word-Tranvel {
        .better-know {
            width: 300px;
        }
    }
}

@media (max-width:620px) {
    #word-Travel {
        .lorem {
            width: 300px;
        }
    }
}

@media (min-width:992px) {
    #word-Travel {
        .lorem {
            width: 600px;
        }
    }
}

#Wave {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
    .bg-wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 180px;
        background-image: url("./img/011_bg_wave.svg");
        background-size: cover;
    }
    .bg-wave.wave1 {
        animation: animate 20s linear infinite;
        z-index: 100;
        opacity: 1;
        animation-delay: 0s;
        bottom: 0;
    }
    .bg-wave.wave2 {
        animation: animate2 10s linear infinite;
        z-index: 50;
    }
}

@keyframes animate {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1500px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1000px;
    }
}

#center {
    .icon-center {
        @extend %flex;
        justify-content: space-around;
        position: relative;
        bottom: 25px;
        overflow-x: scroll;
    }
}

.line2 {
    width: 2px;
    height: 600px;
    background-color: $color-secondary;
    z-index: -10;
    position: absolute;
}

.box-circle {
    padding: 1px;
    border-radius: 50%;
    background-image: linear-gradient(to top, #00a680, #00f4bd);
    .circle2 {
        @extend %flex;
        justify-content: center;
        width: 63px;
        height: 63px;
        border-radius: 50%;
        background-color: white;
        span {
            font-size: 30px;
            opacity: 0.9;
            color: $color-secondary;
        }
    }
}

.phone {
    @extend %flex;
    justify-content: center;
    .sub-phone {
        position: relative;
        img {
            position: absolute;
            bottom: 45px;
            left: 28px;
        }
    }
}

#word-center {
    display: flex;
    align-self: center;
    justify-content: center;
    padding-right: 150px;
    .better-know {
        color: $color-primary;
        font-size: 25px;
        font-family: shabnam-bold;
    }
    .lorem {
        @extend %word;
        width: 300px;
    }
}

@media (min-width:568px) {
    #word-center {
        padding: 0;
        display: flex;
        align-items: center;
        .better-know {
            width: 500px;
        }
        .lorem {
            width: 500px;
        }
    }
}

@media (min-width:768px) {
    #word-center {
        padding: 0;
        display: flex;
        align-items: center;
        .better-know {
            width: 600px;
        }
        .lorem {
            width: 600px;
        }
    }
}

@media (min-width:992px) {
    #word-center {
        padding-right: 6rem;
        display: flex;
        align-items: center;
    }
}

@media (min-width:992px) {
    #word-Tranvel {
        .better-know {
            width: 500px;
        }
        .lorem {
            width: 500px;
        }
    }
}

@media (min-width:360px) {
    #word-Tranvel {
        width: 500px;
    }
}

#Wave-center {
    position: relative;
    top: 191px;
    width: 100%;
    height: 180px;
    overflow: hidden;
    .Bg-wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 180px;
        background-image: url("./img/new-wave.jpg");
        background-size: cover;
    }
    .Bg-wave.Wave1 {
        animation: animate 20s linear infinite;
        z-index: 100;
        opacity: 1;
        animation-delay: 0s;
        bottom: 0;
    }
    .Bg-wave.Wave2 {
        animation: animate2 10s linear infinite;
        z-index: 50;
    }
}

@keyframes animate {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1500px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1000px;
    }
}

#download2 {
    width: 330px;
    height: 770px;
    border-radius: 15px;
    box-shadow: 2.5px 4.3px 25px 0 #e5e5e5;
    flex-direction: column;
    justify-content: space-evenly;
    @extend %flex;
    .word-aplication {
        font-size: 24px;
        text-align: center;
        color: $color-primary;
    }
    .word-number-phone {
        @extend %word;
        text-align: center;
    }
    .number-phone {
        width: 290px;
        height: 50px;
        border-radius: 25px;
        border: solid 1px #eeeeee;
        background-color: #fafafa;
    }
     ::placeholder {
        color: black;
        display: flex;
        justify-content: center;
    }
    .download {
        width: 140px;
        height: 50px;
        border-radius: 25px;
        box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
        background-image: linear-gradient(to top, #e35325, #ff8a65);
        color: $color-fourthary;
    }
    .method-download {
        text-align: center;
        @extend %word;
    }
    .download-end {
        width: 160px;
        height: 50px;
        border-radius: 25px;
        box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
        background-image: linear-gradient(to top, #00a680, #00f4bd);
        color: $color-fourthary;
        @extend %flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        font-size: 13px;
        font-family: shabnam-bold;
        span {
            font-size: 13px;
        }
    }
}

#Download2 {
    width: 970px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 2.5px 4.3px 25px 0 #e5e5e5;
    display: flex;
    position: relative;
    bottom: 109px;
    z-index: 100;
    .Download2-icon {
        @extend %flex;
        justify-content: center;
    }
    .side-Download2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .word-aplication {
        font-size: 24px;
        text-align: center;
        color: $color-primary;
    }
    .word-number-phone {
        @extend %word;
        text-align: center;
    }
    .number-phone {
        width: 290px;
        height: 50px;
        border-radius: 25px;
        border: solid 1px #eeeeee;
        background-color: #fafafa;
        position: relative;
        left: 47px;
    }
    .download {
        width: 140px;
        height: 50px;
        border-radius: 25px;
        box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
        background-image: linear-gradient(to top, #e35325, #ff8a65);
        color: $color-fourthary;
        position: absolute;
        left: 130px;
    }
    .method-download {
        text-align: center;
        @extend %word;
    }
    .Download-botton {
        position: relative;
        .download-end {
            position: absolute;
            width: 160px;
            height: 50px;
            border-radius: 25px;
            box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
            background-image: linear-gradient(to top, #00a680, #00f4bd);
            color: $color-fourthary;
            @extend %flex;
            flex-direction: row-reverse;
            justify-content: space-evenly;
            font-size: 13px;
            font-family: shabnam-bold;
            span {
                font-size: 16px;
            }
        }
    }
}

@media (min-width:1200px) {
    #Download2 {
        width: 1100px;
    }
}

#Travel-readiness {
    color: $color-fourthary;
    @extend %flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url("./img/dark_image.jpg");
    height: 350px;
    .Travel {
        font-size: 24px;
        text-align: center;
        z-index: 100;
    }
    .Travel-lorem {
        @extend %word;
        z-index: 100;
    }
    .icon-travel {
        width: 160px;
        height: 50px;
        border-radius: 25px;
        box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25), 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
        background-image: linear-gradient(to top, #e35325, #ff8a65);
        z-index: 100;
        color: $color-fourthary;
        @extend %flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-family: shabnam-light !important;
        span {
            font-size: 16px;
        }
    }
}